<div class="row">
<% unless @user == current_user %>
  <% if current_user.following?(user) %>
    <%= link_to "ãƒ•ã‚©ãƒ­ãƒ¼å¤–ã™ðŸ¥ºðŸ¥º", user_relationships_path(user.id), method: :delete, class: 'btn btn-outline-danger btn-block' %>
  <% else %>
    <%= link_to "ãƒ•ã‚©ãƒ­ãƒ¼ã™ã‚‹ðŸ˜ðŸ˜", user_relationships_path(user.id), method: :post, class: 'btn btn-outline-primary btn-block' %>
  <% end %>
<% end %>
</div>